{$SITE_ADDRESS:http://localhost} {
    encode zstd gzip

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle /oauth2/* {
        reverse_proxy backend:8080
    }

    handle /login/* {
        reverse_proxy backend:8080
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
